$basic-white-color: #ffff;
$tomato-red-color: #ff3459;
$blue-color: #4252d1;
$dark-plum-color: #303a53;
$dark-blue-grey-color: #272d3d;
$royal-blue-color: #0048ff;
$luxury-plum-color: #332f65;
$dark-purple-color: #302e5a;
$light-grey-color: #d7d7d7;
